<div class="js-page-link-templates">
  <template class="js-page-link-t">
    <a class="page-link btn btn--square btn--sm" href=""></a>
  </template>
  <template class="js-page-link-back-t">
    <a
      class="page-link btn btn--square btn--sm"
      href=""
      aria-label="Предыдущая страница"
    >
      <svg width="16" height="16">
        <use href="#chevron-left-svg" />
      </svg>
    </a>
  </template>
  <template class="js-page-link-full-back-t">
    <a
      class="page-link btn btn--square btn--sm"
      href=""
      aria-label="Первая страница"
    >
      <svg width="16" height="16">
        <use href="#chevron-left-double-svg" />
      </svg>
    </a>
  </template>
  <template class="js-page-link-forward-t">
    <a
      class="page-link btn btn--square btn--sm"
      href=""
      aria-label="Следующая страница"
    >
      <svg width="16" height="16">
        <use href="#chevron-right-svg" />
      </svg>
    </a>
  </template>
  <template class="js-page-link-full-forward-t">
    <a
      class="page-link btn btn--square btn--sm"
      href=""
      aria-label="Последняя страница"
    >
      <svg width="16" height="16">
        <use href="#chevron-right-double-svg" />
      </svg>
    </a>
  </template>
</div>
