<template class="js-tbody-row-t">
  <tr class="table__tr js-table-tr"></tr>
  <th class="table__th js-table-th" scope="row"></th>
  <td class="table__td js-table-td"></td>
</template>
<template class="js-thead-row-t">
  <tr class="table__tr js-thead-row"></tr>
  <th class="table__th js-thead-col" scope="col"></th>
</template>
<template class="js-table-sort-btn-t">
  <button class="table__sort-btn js-table-sort-btn" name="" type="button">
    <i class="icon-container">
      <svg width="12" height="12" class="table__value-svg">
        <use href="#caret-up-svg" />
      </svg>
    </i>
  </button>
</template>
